<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DataSet DashBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
        <nav class = "navbar">
            <ul class = "menu"> 
                <li class = "botao">
                    <a class = "texto" href='/daily_update/'>
                        Daily Updates
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href="/overview_vulnerabilities/?Projeto=+All+&Categoria=+All+&Missing=+Valid+&Page=1">
                        Vulnerabilities
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/overview_patches/?Projeto=+All+&Page=1'>
                        Patches
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/overview_cwes/?Categoria=+All+&Page=1'>
                        CWEs
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/resumeflask/?Projeto=+All+'>
                        Dataset Summary
                    </a>
                </li>
            </ul>
        </nav>

        

        <div class = "textoIntro">
            <div class = "invisivel">
            </div>
            <div class = "invisivel">
                <a class = "textoIntroManeiro">
                    Dashboard of a dataset with vulnerabilities
                </a>
                <a class = "git" href="https://github.com/JoaoRafaelHenriques/CVEDetailsScrapeDataset">
                    Link: GitHub of the dataset, click to redirect
                </a>
            </div>
        </div>

    </body>
</html>