<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DataSet DashBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style_tabelas.css') }}"/> 
        <link rel="stylesheet" href="../static/style.css"/>
        <link rel="stylesheet" href="../static/style_tabelas.css"/>
        <script src="{{ url_for('static', filename='pagging.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <script src="{{ url_for('static', filename='filters.js') }}"></script>
    </head>
    <body>
        <nav class = "navbar">
            <ul class = "menu"> 
                <li class = "botao">
                    <a class = "texto" href='/daily_update/'>
                        Daily Updates
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href="/overview_vulnerabilities/?Projeto=+All+&Categoria=+All+&Missing=+Valid+&Page=1">
                        Vulnerabilities
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto texto-selected" href='/overview_patches/?Projeto=+All+&Page=1'>
                        Patches
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/overview_cwes/?Categoria=+All+&Page=1'>
                        CWEs
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/resumeflask/?Projeto=+All+'>
                        Dataset Summary
                    </a>
                </li>
            </ul>
        </nav>

        <h1> Overview of {{ resultados["Commit"] }} of {{ resultados["Projeto"] }}! </h1>

        <div class = "tabelaResultados">
            <table class = "tabela">
                <thead class = "headers">
                    <tr>
                        <th class = "head"> P_ID </th>
                        <th class = "head"> FilePath </th>
                        <th class = "head"> BeginLine </th>
                        <th class = "head"> EndLine </th>
                        <th class = "head"> Occurrence </th>
                        <th class = "head"> Affected </th>
                        <th class = "head"> Lines + </th>
                        <th class = "head"> Lines - </th>
                    </tr>
                </thead>
                {% for linha in resultados["Resultados"] %}
                <tbody class = "lines">
                    <tr>
                        <td> {{linha[0]}} </td>
                        <td> {{linha[4]}} </td>
                        <td> {{linha[5]}} </td>
                        <td> {{linha[6]}} </td>
                        <td> {{linha[8]}} </td>
                        <td> {{linha[9]}} </td>
                        <td> {{linha[10]}} </td>
                        <td> {{linha[11]}} </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="numVulnerabilidades">
            <div class="localTexto">
                <span class="texto vulnerabilidadesValores"> {{resultados["Tamanho"] }} of {{resultados["Tamanho"]}} </span>
            </div>
        </div>

        <div class="blocoSetas">
            <div class="setas">
                <div class="esquerda">
                    <a href="#" onclick="esquerda()">&laquo</a>
                </div>
                <div class="valorPage"> 
                    <a id="numero"></a> 
                </div>
                <div class="direita">
                    <a href="#"  onclick="direita()">&raquo</a>
                </div>
            </div>
        </div>

    </body>
</html>