<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DataSet DashBoard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style_tabelas.css') }}"/> 
        <link rel="stylesheet" href="../static/style.css"/>
        <link rel="stylesheet" href="../static/style_tabelas.css"/>
        <link rel="stylesheet" href="../static/style_grafico.css"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{{ url_for('static', filename='grafico.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <script src="{{ url_for('static', filename='filters.js') }}"></script>

    </head>
    <body>
        <nav class = "navbar">
            <ul class = "menu"> 
                <li class = "botao">
                    <a class = "texto" href='/daily_update/'>
                        Daily Updates
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href="/overview_vulnerabilities/?Projeto=+All+&Categoria=+All+&Missing=+Valid+&Page=1">
                        Vulnerabilities
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/overview_patches/?Projeto=+All+&Page=1'>
                        Patches
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/overview_cwes/?Categoria=+All+&Page=1'>
                        CWEs
                    </a>
                </li>
                <li class = "botao">
                    <a class = "texto" href='/resumeflask/?Projeto=+All+'>
                        Dataset Summary
                    </a>
                </li>
            </ul>
        </nav>

        <div class="filtros">
            <div id="Projeto" class="dropdown">
                <div class="select">
                    <span class="selected"> All </span>
                    <div class="caret"></div>
                </div>
                <ul class="menuFilter">
                    <li class="active"> All </li>
                    {% for linha in resultados["FiltrosProjetos"] %}
                    <li> {{ linha }} </li>
                    {% endfor %}
                </ul>
            </div>
            <input class = "botaoFiltro" type = "submit" onCLick="pesquisaFiltrada()" value = "Filtrar">
        </div>

        <div class = "tabelaResultados">
            <table class = "tabela">
                <thead class = "headers">
                    <tr>
                        <th class = "head"> Value </th>
                        <th class = "head"> Count </th>
                    </tr>
                </thead>
                {% for key, value in resultados['resultados'].items() %}
                <tbody class = "lines">
                    <tr>
                        <td> {{key}} </td>
                        <td> {{value}} </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="ChartTitle">
            <h1> Most Commun CWEs </h1>
            <div class="myChartDiv">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        
    </body>
</html>