@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Fazemos com que as coisas vão até ao limite do ecrã */
body {
    height: 100svh;
    /* width: 100svw; */
    margin: 0;
    padding: 0;
    /* background-image: url("../templates/cisco-asa-vuln.jpg"); */
    background-image: url('cisco-asa-vuln.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000D16;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232930;
    opacity : 0.5;
}

/* list-style-type: none;  Esta linha retira as bolas atrás da palavra */
.menu {
    list-style-type: none; 
    margin: 0;
    padding: 2rem;
}

.botao {
    display: inline-block;
}

/* text-decoration: none; Esta linha retira os sublinhados dos links */
.texto {
    text-decoration: none;
    color: #00adb5 ;
    font-size: 2rem;
    padding: 0rem 1.5rem;
    opacity : 1;
    text-decoration: underline 0.01em rgba(0, 0, 0, 0) ;
    transition: text-decoration-color 300ms;
}

.texto:hover,
.texto:focus {
    text-decoration-color: #00adb5;
}

.formPesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacoBarraPesquisa {
    display: flex;
    justify-content: space-between;
}

.barraPesquisa {
    background: #2a2f3b ;
    height: 1.7em;
    color: #00adb5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 0.9em 0.3em 0.9em 0.3em;
    cursor: pointer;
    transition: background 0.3s;
} 

.barraTexto {
    border-style: hidden;
    padding: 1em;
    background-color: #1e2329;
    color: #00adb5;
    border-radius: 0.5em;
}

.barraTexto:hover,
.barraTexto:focus {
    background-color: #15191d;
    border-color: #ffffff00;
    outline: none;
}

.botaoPesquisa {
    background-color: #00acb500;
    opacity: 0.8;
    color: #00adb5;
    border: 0rem;
}

.botaoPesquisa:hover {
    background-color: #00acb52a;
    opacity: 0.8;
    color: #00adb5;
    border-radius: 2rem;
}

.textoIntro {
    margin-top: 10rem;
    margin-left: 43rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisivel {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textoIntroManeiro {
    font-size: 4rem;
    color: #00adb5 ;
}

.git {
    color: #00adb5 ;
    font-size: 0.9rem;
    text-decoration: None;
    padding: 1rem;
}

.blocoSetas {
    text-align: center;
}

.setas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setas a{
    text-decoration: none;
    color: #00adb5 ;
    opacity : 1;
    text-decoration: underline 0.01em rgba(0, 0, 0, 0) ;
    transition: text-decoration-color 300ms;
}

.valorPage {
    margin-top: 0.5rem;
    font-size: 2rem;
}

.esquerda a{
    margin-right: 0.5rem;
    font-size: 4rem;
}

.direita a{
    margin-left: 0.5rem;
    font-size: 4rem;
}

.esquerda a:hover{    
    text-decoration-color: #00adb5;
}

.direita a:hover{    
    text-decoration-color: #00adb5;
}

h1 {
    margin: 1em;
    font-family: "Montserrat", sans-serif;
    color: #00adb5;
    display: flex;
    justify-content: center;
}

.filtros {
    display: flex;
    justify-content: center;
}

.dropdown {
    min-width: 15em;
    position: relative;
    margin: 1em 3em 3em 3em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #2a2f3b ;
    color: #00adb5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked {
    border: 2px #000D16 solid;
    box-shadow: 0 0 0.8em #00adb5;
}

.select:hover {
    background: #323741;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menuFilter {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323041;
    border: 1px #363636;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fafa9;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    max-height: 20em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.menuFilter li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menuFilter li:hover {
    background: #00adb5;
}

.menuFilter-open {
    display: block;
    opacity: 1;
}

.menuFilter::-webkit-scrollbar {
    width: 12px; /* largura da barra */
}

.menuFilter::-webkit-scrollbar-track {
    background: #f1f1f100; /* vor de fundo da barra toda */
}

.menuFilter::-webkit-scrollbar-thumb {
    background: #00adb5; /* cor da barra que mexe */
    border-radius: 6px; 
}

.menuFilter::-webkit-scrollbar-thumb:hover {
    background: #555; /* hover na barra */
}

.active {
    background:#1e2329;
}

.botaoFiltro {
    margin: 2em 3em 2.8em 3em;
    padding: 0;
    border-radius: 0.5em;
    min-width: 8rem;
    cursor: pointer;
    background: #323041;
    border: 2px #2a2f3b solid;
    color: #00adb5;
}

.botaoFiltro:hover {
    background: #1e2329;
}

.espaçoFiltros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numVulnerabilidades {
    display: flex;
    justify-content: right;
}

.localTexto {
    padding-right: 5em;
}

.vulnerabilidadesValores {
    font-size: 0.8em;
    text-decoration: none;
}

.textoFiltro {
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;

}

.resumeBotao {
    height: 4em;
}

.popUpInfo {
    display: none; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.377);
    border: 1px solid black;
    color: red;
    border-radius: 1rem;
    padding: 10px;
    z-index: 1;
    width: auto;
    height: auto;
}