.tabelaResultados {
    width: 90rem;
    margin: auto;
    background-color: #232930;
    opacity : 0.5;
}

.caixas {
    margin: auto;
    opacity : 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa {
    background-color: #232930; 
    margin-top: 2rem;  
    width: 70rem; 
}

.tabela {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    color: #00adb5;
}

.headers {
    font-size: 2rem;
}

.head {
    padding: 1rem 2rem;
}

.lines {
    font-size:1rem;
    text-align: center;
    vertical-align: middle;
}

.lines a {
    text-decoration: None;
    color: #00adb5;
}

.lines td {
    max-width: 5rem; /* Defina a largura máxima que desejar */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .lines td:hover {
    max-width: none; 
    overflow: visible;
    white-space: normal;
    text-overflow: clip;
} */